*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.dark{
    --dark-bg: #293551;
    --dark-header:#354f74;
    --dark-icons:white;
    --dark-input:#9CA3AF;
    --dark-input--text:#ffffff;
}
